ion-searchbar{
    display: none;
}

ion-card>ion-img{
        background-size: contain;
        width: 100vw;
        border-radius: 10px;
        font-size: small;
        text-align: center;
}

@media screen and (max-width:720px){
    ion-searchbar{
        display: none;
    }
    
    ion-item{
        & ion-img{
            background-size: contain;
            width: 90vw;
        }
        font-size: small;
    }
    
}