<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo informal
        </ion-label>
      </ion-toolbar>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo informal
        </ion-label>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Trabajo eventual </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img alt="Asistente administrativo" src="../../assets/Categorias/1.jpg"></ion-img>
      <ion-text>
        <h1>Sector informal y las formas atípicas de empleo</h1>
        <p>El término “economía informal” hace referencia a todas las actividades económicas realizadas por los trabajadores y unidades económicas que no están cubiertos o que están insuficientemente cubiertos –en la legislación o en la práctica- por acuerdos formales. Sus actividades no se incluyen en la legislación, lo que significa que tienen lugar fuera del alcance formal de la legislación, o no están cubiertas en la práctica, lo que significa que –aunque se realicen dentro del alcance de la legislación-, la ley no se aplica ni se vela por su cumplimiento, o la ley desalienta el cumplimiento por ser inapropiada o gravosa, o por imponer costos excesivos.</p>
        <p>ACTRAV apoya los esfuerzos desplegados por los sindicatos para evitar la normalización, promover políticas encaminadas a crear empleos decentes en la economía formal, y organizar a los trabajadores no protegidos.</p>
      </ion-text>

      </ion-card-content>
      
    </ion-card>
  </ion-grid>

  
</ion-content>