
ion-grid>ion-item{
    width: 50vw;
    margin: 0px 25%;
}
ion-card{
    & ion-img{
        background-size: contain;
        width: 50vw;
    }
}
@media screen and (max-width:720px){
    ion-grid>ion-item{
        width: 100%;
        margin: 0;
    }
    ion-card{
        & ion-img{
            background-size: contain;
            width: 90vw;
        }
        font-size: small;
    }
}