<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ul>
        <li><a href="">Ofertas de empleo</a></li>
        <li><a href="">Requisitos de empleo</a></li>
        <li><a href="">Busqueda de empleo</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="../../assets/Principal/Atencion a clientes.jpg"></ion-img>
  </ion-card>

</ion-content>
