<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo temporal
        </ion-label>
      </ion-toolbar>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo temporal
        </ion-label>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Trabajo eventual </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img alt="Asistente administrativo" src="../../assets/Categorias/0.jpg"></ion-img>
      <ion-text>
        <h1>¿Que es?</h1>
        <p>El empleo temporal, en el cual los trabajadores son contratados sólo por un período de tiempo específico, incluye los contratos de duración determinada, basados en proyectos o en tareas, así como el trabajo ocasional o estacional, incluido el trabajo por días.</p>
        <h1>Contratos de duración determinada</h1>
        <p><strong>Los contratos de duración determinada, basados en proyectos o en tareas,</strong>
          son acuerdos contractuales entre un empleador y un empleado caracterizados por una duración limitada o un evento predefinido que pone fin al contrato.</p>
          <p>Los contratos de duración determinada (CDD) han existido siempre en los mercados laborales y sirven a finalidades específicas. Proporcionan flexibilidad a las empresas para responder a cambios en la demanda, como los causados por las fluctuaciones estacionales, para reemplazar a un trabajador ausente o evaluar a empleados recién contratados antes de ofrecerles un contrato por tiempo indefinido. Pero más allá de estas razones estacionales, algunas empresas han llegado a depender fuertemente de los CDD, contratando regularmente a trabajadores con estos contratos para tareas permanentes de la empresa. Para estas empresas, el empleo temporal puede plantear problemas, por ejemplo, la administración de trabajadores con diferentes tipos de contratos pero que realizan tareas similares; también corren el riesgo de no invertir lo suficiente en formación e innovación y, como consecuencia, comprometer la productividad.</p>
          <p>
            Algunos trabajadores eligen empleos temporales porque quieren conciliar el trabajo con los estudios o con otras responsabilidades que les impiden comprometerse a trabajar por una duración indeterminada. Sin embargo, para la mayoría de los trabajadores con CDD, no es una elección explicita. Cuando el contrato de duración determinada es involuntario, con frecuencia el acuerdo es de calidad inferior si se compara con un contrato de duración indeterminada, en particular si la transición hacia el empleo de duración indeterminada está comprometida. Por lo tanto, es importante prevenir el abuso de los CDD al limitar su renovación y su duración total o la prohibición de utilizar contratos de duración determinada para tareas permanentes. También es fundamental ofrecer a los trabajadores en empleo temporal condiciones equivalentes a las de los trabajadores que tienen un empleo típico.
          </p>
          <h1>Trabajo ocasional</h1>
          <p>
            El trabajo ocasional consiste en la contratación de trabajadores de forma esporádica o intermitente, con frecuencia para un número específico de horas, días o semanas, a cambio de un salario determinado por las condiciones de un acuerdo de trabajo diario o periódico. El trabajo ocasional es un rasgo característico del empleo asalariado informal en los países en desarrollo de bajos ingresos, pero también está emergiendo en las economías industrializadas, especialmente en los puestos de trabajo relacionados con la “economía por encargo” o la “economía de ocupaciones transitorias”.
          </p>
      </ion-text>

      </ion-card-content>
      
    </ion-card>
  </ion-grid>

  
</ion-content>