<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo intelectual
        </ion-label>
      </ion-toolbar>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo intelectual
        </ion-label>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Trabajo intelectual </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img alt="Asistente administrativo" src="../../assets/Categorias/2.jpg"></ion-img>
      <ion-text>
        <h1>
          Generalidades
        </h1>
        <p>El trabajo intelectual se lleva a cabo en base a las destrezas cognitivas y de interacción propias de cada persona, a sus conocimientos generales y específicos, y desde luego no es ajeno a sus valores. En este sentido, el trabajo intelectual de cada persona depende de cuáles sean las actitudes subjetivas fundamentales que guíen su comportamiento en ámbitos como iniciativa, curiosidad mental, motivación, organización, perseverancia, autodisciplina, responsabilidad, honestidad, solidaridad.</p>
        <h1>La Ética en el trabajo intelectual</h1>
        <p>El trabajo intelectual conlleva una ética. Se ha ido construyendo con el estudio y esfuerzo de muchas personas a lo largo de los siglos. No se puede hablar mejor de esta ética que requiere honestidad, sinceridad y conciencia de limitaciones.</p>
        <h1>Metodología</h1>
        <p>El trabajo intelectual exige -en primera instancia- que aquellos que lo practiquen, tengan un fin con éste; no se refiere al escolar, sino al nivel supremo de ser un ciudadano de calidad. Un ciudadano de calidad, lo es en la medida que reconoce su valía, asume responsabilidad y construye democráticamente una sociedad justa, además de sustentable en lo económico, cultural y ambiental. La participación de este ciudadano en la construcción de esta sociedad, por decirlo de alguna manera, “sociedad ideal”, es a partir del uso consciente e intencional de la imaginación programada.</p>
      </ion-text>

      </ion-card-content>
      
    </ion-card>
  </ion-grid>

  
</ion-content>