<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo informal
        </ion-label>
      </ion-toolbar>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button href="/tabs/Categorias" button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        </ion-buttons>
        <ion-label>
          Empleo informal
        </ion-label>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Trabajo informal </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img alt="Asistente administrativo" src="../../assets/Categorias/3.jpg"></ion-img>
      <ion-text>
        <h1>Qué es Empleo informal:</h1>
        <p>Como empleo informal se denomina la actividad laboral de quienes trabajan y perciben ingresos al margen del control tributario del Estado y de las disposiciones legales en materia laboral.</p>
        <p>En este sentido, el empleo informal se refiere a la actividad laboral de los trabajadores independientes, los vendedores ambulantes, las trabajadoras de servicio doméstico, los limpiavidrios, entre otros.</p>
        <p>Este tipo de empleos, por lo general, son mal remunerados y ofrecen condiciones laborales deficientes. Además, debido a que no cuentan con la debida protección legal para las relaciones laborales, son empleos sin protección social, que no brindan estabilidad económica para los trabajadores</p>
        <p>De allí que en un empleo informal situaciones como el impago del salario, los despidos sin compensaciones ni periodos de aviso, la exigencia de trabajar horas extra o turnos extraordinarios, así como el incumplimiento de los beneficios sociales, como pensiones, reposos por enfermedad o seguro de salud, sean situaciones ante las cuales los trabajadores se encuentran vulnerables y desprotegidos.</p>
      </ion-text>


      </ion-card-content>
      
    </ion-card>
  </ion-grid>

  
</ion-content>